<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>registro</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">

</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>registro</h3>
                </div>
                <form action="" method="POST">{% csrf_token %}
                    <div class="card-body">
                        <style>
                            .errorlist {
                                color: red;
                            }
                        </style>
                        <main role="main">
                            <div class="container">
                                <div class="row mt-3">
                                    <div class="col-md-9 mx-auto mb-5">
                                        {% if validlink %}
                                        <form action="" method="post">{% csrf_token %}
                                            <h3 class="mb-4">Escriba la nueva contraseña</h3>
                                            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.
                                            </p>
                                            {{form.new_password1.errors}}
                                            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
                                            {{form.new_password2.errors}}
                                            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
                                            <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
                                        </form>
                                        {% else %}
                                        <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
                                        <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>